
  
  .container {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Times New Roman", Times, serif;
  }
  
  .card {
    background-color: #FFF;
    padding: 3rem 3.5rem;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    max-width: 500px;
    font-size: 25px;
  }
  .card::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 10px;
    width: 101%;
    height: 110%;
    background-image: linear-gradient(to right bottom, #4081f8, #7dd2f9);
    z-index: -1;
    border-radius: 15px;
    transform: rotate(-5deg);
    box-shadow: 0 0 45px 5px rgba(0, 0, 0, .2);
  }
  
  @media screen and (max-width: 500px) {
    .card::before {
      top: -10px;
      left: -2px;
    }
  }